nav {
  position: fixed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  top: -0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 90px;
  background-color: #FF8383;
  z-index: 19;
}

.logo {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Senobi Gothic';
  font-style: normal;
  width: 300px;
}

#logo-img {
  width: 40px;
  height: 40px;
  float: left;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 38%;
  transition: all 0.5s ease-in-out;
  z-index: 20;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: gray;
  margin: 5px;
  transition: all 0.5s ease-in-out;
}

.nav-active {
  transform: translateX(0%) !important;
  z-index: 20;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 55%;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    overflow: hidden;
    /* overflow: scroll; */
  }
  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: #FF8383;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

@keyframes navlinksFade {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transition: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(405deg) translate(-5px, -6px);
}

#step3-progress {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 150px;
}

#step4-progress {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 150px;
}

#makemarker-screen {
  position: absolute;
  width: 100%;
  height: 1200px;
  display: flex;
  /* justify-content: center; */
  text-align: center;
  flex-direction: column;
  align-items: center;

  /* padding: 276px; */
  background: #FFDDDD;
  box-sizing: border-box;
}

#makemarker-ex {
  position: relative;
  top: 280px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  padding: 72px;
  /* background: #FFDDDD; */
	background-color: rgba(0, 0, 0, 0);
}

#makemarker-ex1 {
	position: absolute;
  width: 400px;
  height: 25px;
  left: 100px;
  top: 50px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #ff8383;
}

#makemarker-ex2 {
  position: absolute;
  width: 400px;
  height: 25px;
  left: 100px;
  top: 80px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #ff8383;
}

#marker-contents {
  position: relative;
  top: 230px;
  width: 80%;
  display: flex;
	flex-wrap: wrap;
	margin : 3px;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  border: none;
  padding: 72px;
  background: #FFDDDD;
	background-color: rgba(0, 0, 0, 0);
}

.marker {
	/* position: absolute;
	top: 50px;
	left: 10px; */
	width: 240px;
	height: 240px;
	margin : 10px;
	border: 5px dashed #000000;
}

.marker:hover {
	opacity: 0.8;
	color: #000000;
	/* background: #FF8383;
	padding: 2px 4px;
	color: white; */
}

#buttons {
	position: relative;
  top: 150px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  padding: 72px;
  /* background: #FFDDDD; */
	background-color: rgba(0, 0, 0, 0);
}

#next {
	box-sizing: border-box;
  position: absolute;
  width: 160px;
  height: 40px;
  left: 225px;
  top: 50px;
  background: #FFFFFF;
	border: 0.5px solid #000000;
  border-radius: 10px;
  text-align: center;
}

#next a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 39px;
  text-align: center;
  color: #000000;
}

#next:hover {
  background-color: #FFFFFF;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

#qr-screen {
  position: absolute;
  width: 100%;
  height: 1000px;
  display: flex;
  /* justify-content: center; */
  text-align: center;
  flex-direction: column;
  align-items: center;

  /* padding: 276px; */
  background: #FFDDDD;
  box-sizing: border-box;
}

.result {
	position: relative;
  top: 340px;
  width: 600px;
	height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  padding: 72px;
  background: #ffffff;
	background-color: rgba(0, 0, 0, 0);
}

#result-string {
	position: absolute;
  width: 400px;
  height: 110px;
  left: 100px;
  top: 0px;
	background-color: aquamarine;
	background-color: rgba(0, 0, 0, 0);
}

#upload-comp {
	position: absolute;
  width: 400px;
  height: 25px;
  left: 0px;
  top: 0px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #ff8383;
}

#upload-ex1 {
	position: absolute;
  width: 400px;
  height: 25px;
  left: 0px;
  top: 50px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 18px;
  text-align: center;

  color: #ff8383;
}

#upload-ex2 {
	position: absolute;
  width: 400px;
  height: 25px;
  left: 0px;
  top: 70px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 18px;
  text-align: center;

  color: #ff8383;
}

#upload-ex3 {
	position: absolute;
  width: 400px;
  height: 25px;
  left: 0px;
  top: 90px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 18px;
  text-align: center;

  color: #ff8383;
}

#QR-box {
	position: absolute;
  width: 300px;
  height: 370px;
  left: 150px;
  top: 130px;
	border-radius: 10px;
  box-shadow: 0px 0px 8px gray;
  color: gray;
  background: #F5F5F5;
	/* background-color: rgba(0, 0, 0, 0); */
}

#qr-view {
	position: absolute;
  width: 400px;
  height: 25px;
  left: -50px;
  top: 10px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  color: #ff8383;
}

#code-area {
	position: absolute;
	width: 180px;
	height: 180px;
	left: 60px;
	top: 50px;
	background-color: #FFFFFF;
	border: 2px dashed #000000;
}

#canvas_qr {
	position: absolute;
	width: 50px;
	left: 25px;
	top: 25px;
}

#qr-dl {
	box-sizing: border-box;
  position: absolute;
  width: 100px;
  height: 40px;
  left: 100px;
  top: 270px;
  background: #FFFFFF;
	border: 0.5px solid #000000;
  border-radius: 10px;
  text-align: center;
}

#qr-dl a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 39px;
  text-align: center;
  color: #000000;
}

#qr-dl:hover {
  background-color: #FFFFFF;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}


#access {
	position: absolute;
  width: 200px;
  height: 40px;
  left: 50px;
  top: 315px;
}


#buttons {
	position: relative;
  top: 150px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  padding: 72px;
  /* background: #FFDDDD; */
	background-color: rgba(0, 0, 0, 0);
}